body{
    text-align: center;
    font-family: 'Monaco', monospace;
}

body{
    background-image:url(assets/background.jpg);
    background-size: contain;
}

html, body {
    padding:0px;
    margin-top:0px;
    width:100%;
}

.boxed{
    background-color:white;
    width:50%;
    margin:auto;
}

.words{
    margin-top:60px;
}

.boxedblack{
    background-color:black;
    width:50%;
    margin:auto;
    color:white;
}

a {
    text-decoration: none;
    color: tan;
}
a:hover {
    color:gold;
}

.stupid{
    margin-bottom:40px;
}

.bottom{
    margin-bottom:60px;
}


iframe{
    width:600px;
    height: 600px;   
}

.grid-container {
  display: grid;
  grid-template-columns: auto,auto,auto,auto; 
}