body{
    text-align: center;
    font-family: 'Monaco', monospace;
}

body{
    background-image:url(assets/background.jpg);
    background-size: contain;
}

html, body {
    padding:0px;
    margin-top:0px;
    width:100%;
}

.boxed{
    background-color:white;
    width:50%;
    margin:auto;
}

.words{
    margin-top:60px;
}

.boxedblack{
    background-color:black;
    width:50%;
    margin:auto;
    color:white;
/*    padding-bottom:50px;*/
}

a {
    text-decoration: none;
    color: tan;
}
a:hover {
    color:gold;
}

.stupid{
    margin-bottom:40px;
}

.bottom{
    margin-bottom:60px;
}


iframe{
    width:400px;
    height: 400px;
}
.grid-container {
  margin: auto;
  display: grid;
    justify-content: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  grid-template-columns: auto auto auto; 
/*  background-color: #FFC717;*/
/*  padding: 50px;*/

}

.grid-item {
/*  background-color: rgba(255, 255, 255, 0.8);*/
/*  border: 1px solid rgba(255, 122, 98, 0.8);*/
/*  padding: 20px;*/
  font-size: 20px;
  text-align: center;
/*
.grid-container {
  display: grid;
  grid-template-columns: auto,auto,auto, auto; 
}*/
