*{
    color:black;
}

/*
body{
    background-image:url(asset/period_sitting_at_desk.png);
    background-color:red;
    text-align: center;
    background-size: cover;
}
*/

html, body {
    padding:0px;
    margin:0px;
    width:100%;
}

body{
    text-align: center;
    font-family: 'Andale Mono', monospace;
}

.red {
    background-color:red;
}
.border {
    border: 3px solid black;
}

.border:hover {
    background: black;
/*    box-shadow: 0 0 100px black;*/
    color: white;
}

.border:hover a {
    color:white;
}

a:hover {
    color:white;
}

a {
    text-decoration: none;
}


#sliding-paragraph {
    margin-left: auto;
    margin-right: auto;
	height: 245px;
    width:100%;


    padding:0;
    margin: 0;
}

.slide-out, .slide-in {
	display: block;
	top: 0px;
	left: 30%;
	position: absolute;
	-webkit-transition: all 300ms ease-in-out;

}

/* using transtions, you can move elements along the x or y axis */

.slide-in {
	opacity: 0;
	-webkit-transform: translate(400px, 0);
}

/* when you hover on #paragraph-3, we're adjusting the x position of the .slide-out text, and .slide-in */

#sliding-paragraph:hover .slide-out {
	opacity: 0;
	-webkit-transform: translate(-400px, 0);
}


#sliding-paragraph:hover .slide-in {
	opacity: 1;
	-webkit-transform: translate(0px, 0);
    
}

#bottom {
    position:relative;
    top:550px;
    margin:15px;
    padding-bottom:20px;
}
#pic{
 box-shadow: 0 0 30px #f62c2c;
    }